/*Estilos globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
/* Estilos del cuerpo de la página */
body{
   /* height: 100vh;*/
    background-color: #1d1d1d;
    /*
    background-size: cover;/*justes para la imagen url*/
    /*background-position: center;*/
}
/* Estilos de la lista */
li{
    list-style: none;
}
/* Estilos de los enlaces */
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

/*hover sirve para cambiar los colores de los botones cuando los estas seleccionenado en este caso los votones con likns, esto es parte de una seuda clase la cual cambia sus estados*/
a:hover{
    color: orange;
}
/* Estilos del encabezado */
/*HEADER*/
header{
    position: relative;
    
}

/*menu*/
.bg-light {
    background: rgb(255,196,0);
    background: linear-gradient(90deg, rgba(255,196,0,0.9640231092436975) 5%, rgba(255,255,255,0.8603816526610644) 96%);
}

/*link {
    /* color: rgba(0, 0, 0, .9); */
*

.navbar-light .navbar-nav .nav-link {
    
    color: rgb(0, 0, 0); 
}


.navbar-light .navbar-nav .nav-link.disabled {
    color: rgb(0, 0, 0); 
}

/* Hero*/
section#hero{
    height: calc(30vh + 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}


.home {
    background-color:orange;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.in-flex{
    color: white;
    flex: 1;
    min-width: 300px;

}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: hsl(0, 0%, 0%);
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
} 
.in-flex div{
    padding: 25px;
    background-color: hsl(0, 0%, 0%);
    margin: 20px;
    border-radius: 10px;
}



.contenedor{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:orange;
    display: flex;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
   
    
}


.cuadros-container {
     display: flex;
    flex-wrap: wrap; /*para que los cuadros se pongan uno arriba del otro cuando se achica la pantalla*/
    justify-content: center;
    align-items: center;
    padding-bottom: 80px; /* Espacio alrededor de los cuadros */
    margin-top: 10px; /* Desplazamiento hacia arriba */
    overflow: hidden; /* Oculta el contenido que excede los límites del cuadro */
    padding-top: 10px;
}

.cuadro {
    width: 250px;
    height: 370px;
    background-color: rgb(255, 168, 7);
    border: 1px solid black;
    margin-right: 20px; /* Espacio entre los cuadros */
    overflow: hidden; /* Oculta el contenido que excede los límites del cuadro */
}

.imagen-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta el contenido de la imagen que excede los límites del contenedor */
}

.inner-image-container img {
    width: 100%; /* Ancho de la imagen dentro del contenedor */
    height: 100%; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin deformarla */
    display: block; /* Asegura que la imagen se muestre como bloque */
}

/*productos*------------------*/

/*.Deposito {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 4;
    gap: 110px;/* separacion entre cuadro y cuadro*/
    /*justify-content: center; /* Centra horizontalmente */
   /* align-content: center; /* Centra verticalmente */
    

  
  
  /*.cuadrado {
    width: 180px;
    height: 310px;
    background-color: #ccc;
    display: flex;
    margin-left: -100px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  */

  /*.informacion-de-productos p{
    color: #fff;
    margin-top: 340px;
    margin-right: 130px;
    font-size: 15px;
    justify-content: center; /* Centra horizontalmente */
   /* align-content: center; /* Centra verticalmente */
  
  

  .contenedor-card-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 50px;
  }
  
  .card-a-a, .card-b-b, .card-c-c, .card-d-d, .card-e-e, .card-f-f {
  margin: 10px; /* Ajusta este margen para agregar separación entre las tarjetas */
  }
  
  .card-a-a, .card-b-b, .card-c-c, .card-d-d, .card-e-e, .card-f-f p {
  margin-top: 190px; /* Empuja el párrafo hacia la parte inferior */
  color: rgb(255, 255, 255); /* Ajusta el color del texto si es necesario */
  text-align: center;
  }
  
  .card-a-a {
  
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: hsl(208, 100%, 89%);
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
            -15px -15px 30px rgb(60, 60, 60);
  
  
  }
  
  .card-b-b {
  
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: hsl(208, 100%, 89%);
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
            -15px -15px 30px rgb(60, 60, 60);
  
  
  }
  
  .card-c-c {
  
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: hsl(208, 100%, 89%);
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
            -15px -15px 30px rgb(60, 60, 60);
  
  
  }


  


  /*Servicio*/
  /* Estilos para contenedor de cuadros */
.cuadros_container {
  /*aca tambien estan los cuadros de Formas de envios*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Alinea los cuadros en la parte inferior */
  margin-top: 550px; /* Margen superior para comenzar a bajar los cuadros */
  
/*flex-wrap automatisa que no desborde nuestro body*/
  flex-wrap: wrap;
}

.cuadrado-one{
    flex-direction: row;
}

/* Estilos para cada cuadro */
.cuadro-custom {
  width: 450px;
  height: 250px; /* Altura inicial de los cuadros */
  margin-right: 10px; /* Espacio entre cuadros */
  background-color: orange;
  margin-top: -240px;
  
}

/* Estilos para contenedor de imagen */
.imagen-container-custom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para contenedor interno de imagen */
.inner-image-container-custom {
  max-width: 100%;
  max-height: 100%;
}

/* Estilos para la imagen dentro del contenedor */
.inner-image-container-custom img {
  max-width: 100%;
  max-height: 100%;
}
/* Estilos para etiqueta */
.etiqueta {
    position: absolute;
    bottom: 5px; /* Distancia desde abajo del cuadro */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    color: white;
    padding: 5px 10px;
    font-size: 12px;
  }

.contenedor-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
        margin-top: 10px;
        overflow: hidden;
        padding-top: 50px;
}
  
.card-1, .card-2, .card-3 {
   margin: 10px; /* Ajusta este margen para agregar separación entre las tarjetas */
}

.card-1 p, .card-2 p, .card-3 p {
  margin-top: 210px; /* Empuja el párrafo hacia la parte inferior */
  color: white; /* Ajusta el color del texto si es necesario */
  text-align: center;
}

  .card-1 {
    
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    
    
   }
   
   .card-2 {
   
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e90909;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   
   
   }
   
   .card-3 {
    
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #44fa69;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
     
     
   }
  
  /*Formas de envio*/
 .informacion-de-productos-p{
    color: #fff;
    margin-top: 270px;
    margin-left: 2px;
    font-size: 15px;
    justify-content: center; /* Centra horizontalmente */
    align-content: center; /* Centra verticalmente */
 }


 .contenedor-card-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 50px;
}

.card-a, .card-b, .card-c {
margin: 10px; /* Ajusta este margen para agregar separación entre las tarjetas */
}

.card-a p, .card-b p, .card-c p {
margin-top: 210px; /* Empuja el párrafo hacia la parte inferior */
color: rgb(10, 7, 7); /* Ajusta el color del texto si es necesario */
text-align: center;
}

/*boca boca bocaaa*/

.card-a {

width: 190px;
height: 254px;
border-radius: 30px;
background: #78bdfa;
box-shadow: 15px 15px 30px rgb(25, 25, 25),
          -15px -15px 30px rgb(60, 60, 60);


}

.card-b {

width: 190px;
height: 254px;
border-radius: 30px;
background: #f7cf05;
box-shadow: 15px 15px 30px rgb(25, 25, 25),
          -15px -15px 30px rgb(60, 60, 60);


}

.card-c {

width: 190px;
height: 254px;
border-radius: 30px;
background: #78bdfa;
box-shadow: 15px 15px 30px rgb(25, 25, 25),
          -15px -15px 30px rgb(60, 60, 60);


}





 /*Forma de pago*/
 .t-pago{
    height: calc(50vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    font-size: 3rem;
    margin-bottom: 30px;
    
 }
 .cuadros_container2 {
    /*aca tambien estan los cuadros de Formas de envios*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alinea los cuadros en la parte inferior */
    margin-top: 50px; /* Margen superior para comenzar a bajar los cuadros */
    
  /*flex-wrap automatisa que no desborde nuestro body*/
    flex-wrap: wrap;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px; /* Ajusta esto al valor máximo de altura que desees */
}

.carousel-inner img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 500px; /* Asegura que las imágenes no excedan esta altura */
    object-fit: cover; /* Recorta la imagen si es necesario para llenar el área */
}







 /*MAP*/
 .map{
    padding: 5px;
    background-color: #1d1d1d;
 }