/*HEADER*/
header{
    position: relative;
    
    /*menu*/
.bg-light {
    background: rgb(255,196,0);
    background: linear-gradient(90deg, rgba(255,196,0,0.9640231092436975) 5%, rgba(255,255,255,0.8603816526610644) 96%);

nav{
    .navbar-light .navbar-nav .nav-link {
    
        color: rgb(0, 0, 0);
        .navbar-light .navbar-nav .nav-link.disabled {
            color: rgb(0, 0, 0); 
            a:hover{
                color: orange;
            }
        }
    }
}

}
}